/*************************************************
  * VARIABLES                                    *
  ************************************************/
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan-1: hsl(184, 100%, 22%);
  --dark-cyan-2: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

/*************************************************
  * GENERAL                                      *
  ************************************************/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 11rem 0;
  color: var(--transparent-white);
  background-color: var(--light-gray);
  position: relative;
}

@media screen and (min-width: 1000px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: var(--dark-cyan-1);
}

footer a {
  color: var(--bright-orange);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (min-width: 450px) {
  .wrapper {
    width: 75%;
  }
}

@media screen and (min-width: 600px) {
  .wrapper {
    width: 60%;
  }
}

@media screen and (min-width: 800px) {
  .wrapper {
    width: 45%;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    width: 90rem;
    display: flex;
  }
}

/*************************************************
  * CARD                                         *
  ************************************************/

.card {
  padding: 10% 15%;
}

@media screen and (min-width: 1000px) {
  .card {
    padding: 5%;
  }
}

.card:nth-of-type(1) {
  background-color: var(--bright-orange);
}

.card:nth-of-type(2) {
  background-color: var(--dark-cyan-1);
}

.card:nth-of-type(3) {
  background-color: var(--dark-cyan-2);
}

.card__title {
  text-transform: uppercase;
  margin: 2rem 0;
  color: var(--light-gray);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 4.2rem;
}

.card__btn {
  display: block;
  background-color: var(--light-gray);
  border: 2px solid transparent;
  padding: 1.5rem 3.5rem;
  margin-top: 3rem;
  border-radius: 5rem;
}

@media screen and (min-width: 1000px) {
  .card__btn {
    margin-top: 9rem;
    cursor: pointer;
  }
}

.card:nth-of-type(1) .card__btn {
  color: var(--bright-orange);
}

.card:nth-of-type(2) .card__btn {
  color: var(--dark-cyan-1);
}

.card:nth-of-type(3) .card__btn {
  color: var(--dark-cyan-2);
}

@media screen and (min-width: 1000px) {
  .card:nth-of-type(1) .card__btn:hover {
    background-color: var(--bright-orange);
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
  }

  .card:nth-of-type(2) .card__btn:hover {
    background-color: var(--dark-cyan-1);
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
  }

  .card:nth-of-type(3) .card__btn:hover {
    background-color: var(--dark-cyan-2);
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
  }
}
